 <div class="col-md-8 chat-room">
  <div class="row">
    <div class="col-md-12 chat-room-title">
      <div class="row">
        <div class="col-md-1">
          <div class="dropdown">
            <button class="chat-room-settings dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-cog chat-room-settings-icon" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" class="delete-chat">Delete conversation</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-10"><h4><%= @user.name %></h4></div>
        <div class="col-md-1">
          <%= link_to '#', class:'chat-room-close' do %>
            <i class="fa fa-times chat-room-icon-icon" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class= "col-md-12 messages" onscroll='loadMoreMessages()'>
      <div class= "message-container message-container-<%= chat_room.uuid %>" data-user-pic-url= "<%= @user.user_pic.url(:smallthumb) %>" data-chat-room-uuid= "<%= chat_room.uuid %>" data-chat-room-id= "<%= chat_room.id %>" data-page-count= 1 data-load-comlete=false >
        <% if messages.present? %>
          <%= render partial:'chat_rooms/messages', locals:{ messages: messages, last_seen_message: last_seen_message } %>
        <% end %>
      </div>
    </div>
    <div class=" col-md-12 is-typing is-typing-<%= chat_room.uuid %> row">
    </div>
    <div class= "col-md-12 message-area">
      <div class= "row">
        <div class= "col-md-10">
          <div class= "row">
            <div class="col-md-11 message-textarea-container">
                <textarea class="message-textarea" data-room-id="<%= @chat_room.id %>" data-behavior="room-speaker" data-room-uuid="<%= @chat_room.uuid %>" data-current-user-id="<%= current_user.id %>" data-emojiable = true ></textarea>
              <img id="image" class="attatchment-image" />
              <a href="#" class="upload-button"><img id="image" class="upload-image"/></a>
              <a href="#" class="remove-attachment-button"><img id="image" class="remove-image"/></a>
              <%= image_tag "video_thumbnail.jpg", class: 'video-thumb' %>
              <%= image_tag "remove_icon.png", class: 'remove-icon' %>
              <%= image_tag "upload_icon.png", class: 'upload-icon' %>
            </div>
            <div class="col-md-1 attachment-button-container">
              <button class="attachment-button" type="button" ><i class="fa fa-paperclip" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
        <div class= "col-md-2 text-area-image">
          <%= image_tag current_user.user_pic.url(:smallthumb), class: "img-circle" %>
        </div>
        <%= file_field_tag :attachment, class: 'attachment_upload', id: 'files', accept: 'image/*,video/*' %>
      </div>
    </div>
  </div>
</div>
<script>
  $('.chat-room-settings').popover({ 
    html : true,
    content: function() {
      return $('#popover_content_wrapper').html();
    }
  });

  $('textarea').emojiPicker({
    height: '200px',
  });
</script>
