<div class="col-lg-12 chat-room">
  <div class="container messages">
    <div class="message-container message-container-<%= chat_room.uuid %>">
      <% chat_room.messages.each do |message| %>
        <div class="col-lg-12">
          <span><%= message.user.email %> : </span>
          <span><%= message.content %></span>
        </div>
      <% end %>
    </div>
    <div class="is-typing is-typing-<%= chat_room.uuid %>">
    </div>
  </div>
  <textarea class="message-textarea" data-room-id="<%= @chat_room.id %>" data-behavior="room-speaker" data-room-uuid="<%= @chat_room.uuid %>" data-current-user-id="<%= current_user.id %>"></textarea>
</div>
<% if is_subscription_exist == 'false' %>
  <script>
      $(function() {
        CreateMessageChannel('<%= @chat_room.uuid %>');
      });
  </script>
<% end %>